/* CSS doc follows HTML id elements sequentially down the page */

@font-face { font-family: Sailec; src: url(Sailec.otf); }

html, body {
  font-family: "Sailec", sans-serif;
}

body {
  width: 200px;
  min-height: 200px;
  text-align: center;
}

hr {
  border-top: 0.25px solid #dddddd;
}

/* ----------

STANDARD SITE

 --------- */

#loaded-standard-site {
  text-align: left;
}

#header {
  font-size: 20px;
  margin-bottom: 5px;
}

#open-lens-heading-tag {
  margin-bottom: -5px;
}

#section-header {
  font-size: 18px;
  color: #7f7f7f;
  margin-top: 2.5px;
  margin-bottom: -7.5px;
}

#section-p {
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.6;
}



/* ----------

PRIVACY POLICY SITE

 --------- */

/* Keep links same color, visited or not */
a, a:visited {
  color: #4157d5;
  text-decoration: none;
}

#company-name {
  text-align: center;
  font-size: 30px;
  background: white;
  margin: 20px 0px 5px 0px;
}

/* RATINGS-INFO SECTION; HOUSES INFORMATION WITH BOTH 1-5 SCALE AND MORE INFO */

/* Section header not the same as #section-header in Standard Site */
.section-header {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

#tooltipname-small {
  font-size: 12px;
  background: none;
  display: inline-block;
  padding: 0px;
  text-decoration-line: none;
  margin: 10px 0px;
  border-bottom: 2px dotted black;
}

/* TOOLTIP BUTTONS THAT SUMMARIZES IMPORTANT PRIVACY INFO */

.tooltipname {
  background: gray;
  display: inline-block;
  position: relative;
  margin: 5px 0px;
  font-size: 18px;
  padding: 10px;
  text-decoration-line: underline;
  border-radius: 2px;
}
.tooltiptext {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.25px;
  visibility: hidden;
  width: 180px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -90px;
}
.tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.tooltipname:hover .tooltiptext {
  visibility: visible;
}

/* Quick fix to make tooltip button the same size as remaining section elements */
#info-access-color {
  padding: 10px 16px;
}

/* DATABASE BREACH SECTION, ALIGNED LEFT (EXCEPT FOR HEADER) */

#db-breach {
  text-align: left;
}
.small-header {
  margin: 5px 0px;
  font-size: 12px;
  line-height: 1.4;
  color: #a0a0a0;
}
.db-info {
  font-size: 18.5px;
}

/* DB Breach ummary using tooltip class, modifying/undoing old design elements */
#db-summary-tooltip {
  font-size: 18.5px;
  background: none;
  display: inline-block;
  padding: 0px;
  text-decoration-line: none;
  margin: 10px 0px;
  border-bottom: 2px dotted black;
}

/* ACCOUNT INFO THEY COLLECT AND SECURITY THAT IS IN PLACE */

#what-info-tooltip {
  text-align: center;
  font-size: 16px;
  background: none;
  padding: 0px;
  text-decoration-line: none;
  margin: 10px 0px;
  border-bottom: 2px dotted black;
}
#what-security-tooltip {
  text-align: center;
  font-size: 16px;
  background: none;
  padding: 0px;
  text-decoration-line: none;
  margin: 10px 0px;
  border-bottom: 2px dotted black;
}

/* FOOTER WITH PRIVACY LINK AND OPEN LENS TAG */

#privacy-link-header {
  margin-top: 7.5px;
  font-size: 18px;
  color: #a0a0a0;
}
#privacy-link {
  font-size: 18px;
  padding: 10px 0px;
  text-decoration: none;
}
#open-lens-tag {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}


/* ----------

LOADING SITE 

 --------- */

/* Line-height set to allow vertical centering */
#loading-site {
  line-height: 200px;
  text-align: center;
}

/* Container holds full div block transformed into circle using border-radius.
   Use padding to show "border" of the circle. */
#container {
  display: inline-block;
  vertical-align: middle;
  background: -webkit-linear-gradient(left top, #E2372B 0%, #2f95f9 100%);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  padding: 5px;
  animation: spin 0.5s linear infinite; /* Rotate the circle every 0.5s */
}
/* Use background: white to only display the "padding/border" above */
#circle {
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

/* Rotate the circle */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}